  

  .darkform input[type=text] {
    background:#000000 !important;
    border-radius:10px;
    padding:15px !important;
    height:40px !important;
    color:#CCC;
  }
  
  .darkform textarea {
    background:#000000 !important;
    border-radius:10px;
    padding:15px !important;
    height:200px !important;
    color:#CCC;
  }
  .darkform .btn-primary {
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .darkform .btn-primary:hover, .btn-primary:active {
    background:#214a80;
    outline:none;
  }
  
  .darkform .btn-primary:active {
    transform:translateY(1px);
  }